<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Yo Brew!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="container">
		    <!-- Dropdown Structure -->
		    <ul id="dropdown" class="dropdown-content">
		        <li><a href="#!">LOGIN</a></li>
		        <li class="divider"></li>
		        <li><a href="#!">SIGN UP</a></li>
		    </ul>
		    <nav>
		        <div class="nav-wrapper">
		            <a href="./" class="brand-logo">Yo Brew</a>
		            <ul class="right hide-on-med-and-down">
		                <li><a href="./map">Map</a></li>
		                <li><a href="./beers">Beer</a></li>
		                <li><a href="./brewery">Brewery</a></li>
			                <li><a href="#loginModal">Log In</a></li>
		            </ul>
		        </div>
		    </nav>
				<div id="loginModal" class="modal">
					<div class="modal-content">
						<form class="create-user-form formValidate" id="formValidate" action="/login"
						<h4>Legal Stuff</h4>
						<p>This is a totally legit community of real people that only enjoys the presense of beer snobs. If you agree to these terms not only are you validating your chilness, but you will also give Yo Brew your first born child. In a totally chill way though. We will raise him (or her) to be the chillest beer bro (or bro-ette? idk) as we possibly can. Trust us. This is a fair deal for minimalist brewery finder. What are you going to use UnTappd. pshhhhhhhhhhhhhh. Get outta here with that weak shit. This is so much cooler and modern.</p>
					</div>
					<div class="modal-footer">
						<button class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</button>
						<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</button>
					</div>
				</div>
		{{{ body }}}
	</body>
	<!-- // jQuery -->
		<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
		<!-- // Google Material js -->
	<script type="text/javascript" src="assets/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
    $('select').material_select();
		$('.modal').modal();
		$('#loginModal').modal('open');
		$('#loginModal').modal('close');
});
	</script>
</html>
