    <h2>Styles of Beer</h2>
    <label>Let's Choose</label>
    <select class="browser-default">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">British Origin Ales</option>
        <option value="2">Irish Origin Ales/option>
            <option value="3">North American Origin Ales</option>
            <option value="4">German Origin Ales</option>
            <option value="5">Belgian And French Origin Ales</option>
            <option value="6">International Ale Styles</option>
            <option value="7">European-germanic Lager</option>
            <option value="8">North American Lager</option>
            <option value="9">Other Lager</option>
            <option value="10">International Styles</option>
            <option value="11">Hybrid/mixed Beer</option>
            <option value="12">Mead, Cider, and Perry</option>
            <input type="submit" value="Submit">
            </form>
            <p>Choose a the style of beer, and click the "Submit" button to send input to the server.</p>
    </select>
