    <h2>Styles of Beer</h2>
    <div class="row">
        <div class="col s3">
          <label> Category </label>
          <select class="browser-default" id="category">
              <option></option>
          </select>
        </div>
        <div class="col s3">
          <label> Style </label>
          <select class="browser-default" id="style">
              <option></option>
          </select>
        </div>

    </div>
<!-- <p id="JSON1"> {{jsonObject}} </p> -->
<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
var fullJSON;
$(document).ready(function() {
    $.ajax({
      url: "./categories",
    }).done(function(data) {
      fullJSON = data;
    });
});
</script>
