    <div class="row" id="BreweryHeader">
        <div class="col s3">
          <div id="brewEstablished"></div>
        </div>
        <div class="col s6">
            <div id="brewName"> </div>


        </div>
        <div class= "col s3">
          <div id="brewImage"></div>
        </div>
    </div>
      <div class="row" id="breweryDescription">

        <div class="col s12">
          <div id="brewDescription"></div>
        </div>

     </div>

     <div class="row brewLinks">
       <div class="col s6 brewLinks">
         <div id="brewWebsite"></div>
       </div>
       <div class="col s6 brewLinks">
         <button class='addClientBrewery btn waves-effect waves-light'> Save Brewery </button>
       </div>
   </div>


<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript"> var reqId = "{{thisBrewery}}" </script>
<script type="text/javascript" src="assets/js/brewery.js"></script>
