<div class="container">
    <!-- Dropdown Structure -->
    <ul id="dropdown" class="dropdown-content">
        <li><a href="#!">LOGIN</a></li>
        <li class="divider"></li>
        <li><a href="#!">SIGN UP</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">THE BREWERIES</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">HOME</a></li>
                <li><a href="map.html">MAP</a></li>
                <li><a href="beer.html">BEER</a></li>
                <li><a href="brewery.html">Brewery</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
             <ul class="side-nav" id="mobile-demo">
              <li><a href="index.html">HOME</a></li>
                <li><a href="map.html">MAP</a></li>
                <li><a href="beer.html">BEER</a></li>
                <li><a href="brewery.html">Brewery</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    <h2>Styles of Beer</h2>
    <label>Let's Choose</label>
    <select class="browser-default">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">British Origin Ales</option>
        <option value="2">Irish Origin Ales/option>
            <option value="3">North American Origin Ales</option>
            <option value="4">German Origin Ales</option>
            <option value="5">Belgian And French Origin Ales</option>
            <option value="6">International Ale Styles</option>
            <option value="7">European-germanic Lager</option>
            <option value="8">North American Lager</option>
            <option value="9">Other Lager</option>
            <option value="10">International Styles</option>
            <option value="11">Hybrid/mixed Beer</option>
            <option value="12">Mead, Cider, and Perry</option>
            <input type="submit" value="Submit">
            </form>
            <p>Choose a the style of beer, and click the "Submit" button to send input to the server.</p>
    </select>
    <!-- Footer -->
    <div class="footer-copyright row center">
        <div class="container">
            &copy;2017 Copyright Group ii
        </div>
    </div>
    </footer>
