<div class="container">
    <!-- Dropdown Structure -->
    <ul id="dropdown" class="dropdown-content">
        <li><a href="#!">LOGIN</a></li>
        <li class="divider"></li>
        <li><a href="#!">SIGN UP</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">THE BREWERIES</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">HOME</a></li>
                <li><a href="map.html">MAP</a></li>
                <li><a href="beer.html">BEER</a></li>
                <li><a href="brewery.html">Brewery</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
             <ul class="side-nav" id="mobile-demo">
              <li><a href="index.html">HOME</a></li>
                <li><a href="map.html">MAP</a></li>
                <li><a href="beer.html">BEER</a></li>
                <li><a href="brewery.html">Brewery</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>
    </nav>
<div class="row">
<div class="col s12 railwayBold">
<ul class="tabs scrollable">
  <li class="tab col s3"><a href="#google-map-tab">Google Map</a></li>
</ul>
</div>
</div>
<div class="row">
<div id="Near Me" class="col s12">
<h3 class="center-align">Near Me</h3>

<div class="section center-align">
<div class="center-align">
<div id="map_2"></div>
</div>
</div>



    <!-- Footer -->
    <div class="footer-copyright row center">
        <div class="container">
            &copy;2017 Copyright Group ii
        </div>
    </div>
    </footer>
