<div class="row">
<div class="col s12 railwayBold">
<ul class="tabs scrollable">
  <li class="tab col s3"><a href="#google-map-tab">Google Map</a></li>
</ul>
</div>
</div>
<div class="row">
<div id="Near Me" class="col s12">
<h3 class="center-align">Near Me</h3>

<div class="section center-align">
<div class="center-align">
<div id="map_2"></div>
</div>
</div>



    <!-- Footer -->
    <div class="footer-copyright row center">
        <div class="container">
            &copy;2017 Copyright Group ii
        </div>
    </div>
    </footer>
