<div class="row">

    <form class="col s6 create-user-form formValidate" onsubmit="return checkForm(this)" id="formValidate" action="/signup" method="POST">
        <div class="row">
            <div class="signInput input-field col s6">
                <input required name="first_name" id="first_name" type="text" class="validate">
                <label for="first_name" data-error="Please Enter A First Name">First Name</label>
            </div>
            <div class="signInput input-field col s6">
                <input required name="last_name" id="last_name" type="text" class="validate">
                <label for="last_name" data-error="Please Enter A Last Name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="signInput input-field col s6">
                <input required name="userName" id="userName" type="text" class="validate">
                <label for="userName" data-error="Please Enter A User Name">User Name</label>
            </div>
            <div class="signInput input-field col s6">
                <input required name="email" id="email" type="email" class="validate">
                <label for="email" data-error="Please Enter A Valid email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input required name="p1" id="p1" type="password" class="validate">
                <label for="p1">Password</label>
            </div>
            <div class="input-field col s6">
                <input required id="passwordConfirm" type="password">
                <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">Password (Confirm)</label>
            </div>
        </div>
        <div class="row">
            <div class="signInput input-field col s6">
                <input required name="street_address" id="street_address" type="text" class="validate">
                <label for="street_address" data-error="Please Enter A Street Address">Street Address</label>
            </div>
            <div class="signInput input-field col s6">
                <input required name="city" id="city" type="text" class="validate">
                <label for="city" data-error="Please Enter A City">City</label>
            </div>
        </div>
        <div class="row">
            <div class="signInput input-field col s6">
                <input required name="zipcode" id="zipcode" type="text" class="validate">
                <label for="zipcode" data-error="Please Enter A Zipcode">Zip Code</label>
            </div>
            <div class="signInput input-field col s4">
                <select name="state" id="state">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">D.C.</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                      </select>
            </div>
            <div class="input-field col s2">
                <a class="btn waves-effect waves-light brown darken-2" href="#modal1" id="subTest">Go!</a>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Legal Stuff</h4>
                <p>This is a totally legit community of real people that only enjoys the presense of beer snobs. If you agree to these terms not only are you validating your chilness, but you will also give Yo Brew your first born child. In a totally chill
                    way though. We will raise him (or her) to be the chillest beer bro (or bro-ette? idk) as we possibly can. Trust us. This is a fair deal for minimalist brewery finder. What are you going to use UnTappd. pshhhhhhhhhhhhhh. Get outta here
                    with that weak shit. This is so much cooler and modern.</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</button>
            </div>
        </div>
    </form>
    <div class="col s6">
      <div class="container">
        <h1 id="signUpText"> Sign Up For The World's Simplest Brewery Finder </h1>
      </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.modal').modal();
        $('.slider').slider();
    });
    $("#p1").on("focusout", function (e) {
        if ($(this).val() != $("#passwordConfirm").val()) {
            $("#passwordConfirm").removeClass("valid").addClass("invalid");
        } else {
            $("#passwordConfirm").removeClass("invalid").addClass("valid");
        }
    });

    $("#passwordConfirm").on("keyup", function (e) {
        if ($("#p1").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });
</script>
