img {
     width:100%;
     height:auto;
}

.logSignHeader{
    font-size: calc(1vw + 1vh + .5vmin);
    margin-top: 4vh;
}
.logSignHeader > p{
    text-align: center;
}

.brand-logo{
  margin-left: 10px;
}
